@font-face {
  font-family: "Iranyekan medium";
  src: url("../font/IRANYekanWeb-Medium.woff");
  src: url("../font/IRANYekanWeb-Medium.woff2");
  src: url("../font/IRANYekanWeb-Medium.eot");
  src: url("../font/IRANYekanWeb-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Iranyekan regular";
  src: url("../font/IRANYekanWeb.eot");
  src: url("../font/IRANYekanWeb.ttf");
  src: url("../font/IRANYekanWeb.woff");
  src: url("../font/IRANYekanWeb.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Iranyekan bold";
  src: url("../font/IRANYekanWeb-Bold.eot");
  src: url("../font/IRANYekanWeb-Bold.woff");
  src: url("../font/IRANYekanWeb-Bold.woff2");
  src: url("../font/IRANYekanWeb-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Iranyekan xbold";
  src: url("../font/IRANYekanWeb-ExtraBold.eot");
  src: url("../font/IRANYekanWeb-ExtraBold.woff");
  src: url("../font/IRANYekanWeb-ExtraBold.woff2");
  src: url("../font/IRANYekanWeb-ExtraBold.ttf");
  font-weight: 900;
}
