/* media query and responsive design */
@import url("./mobile.css") screen and (min-width: 0px);
@import url("./desktop.css") screen and (min-width: 1000px);
@import "./swiper.css";
/* font family */
@font-face {
  font-family: "Iranyekan medium";
  src: url("../font/IRANYekanWeb-Medium.woff");
  src: url("../font/IRANYekanWeb-Medium.woff2");
  src: url("../font/IRANYekanWeb-Medium.eot");
  src: url("../font/IRANYekanWeb-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Iranyekan regular";
  src: url("../font/IRANYekanWeb.eot");
  src: url("../font/IRANYekanWeb.ttf");
  src: url("../font/IRANYekanWeb.woff");
  src: url("../font/IRANYekanWeb.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Iranyekan bold";
  src: url("../font/IRANYekanWeb-Bold.eot");
  src: url("../font/IRANYekanWeb-Bold.woff");
  src: url("../font/IRANYekanWeb-Bold.woff2");
  src: url("../font/IRANYekanWeb-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Iranyekan xbold";
  src: url("../font/IRANYekanWeb-ExtraBold.eot");
  src: url("../font/IRANYekanWeb-ExtraBold.woff");
  src: url("../font/IRANYekanWeb-ExtraBold.woff2");
  src: url("../font/IRANYekanWeb-ExtraBold.ttf");
  font-weight: 900;
}
/* global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-medium: "Iranyekan medium";
  --font-bold: "Iranyekan bold";
  --main-bg-color: #ffffff;
  --white-border: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-family: "Iranyekan medium", sans-serif;
}

body,
html {
  width: 100%;
}

img {
  display: block;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
/* global page boxing */
.wrapper {
  width: 95%;
  max-width: 1380px;
  margin: 24px auto;
}


